/* ==========================================
   NeonVersum Dashboard
========================================== */

.dashboard {

    min-height: 100vh;

    background: #050713;

    color: white;

    display: flex;

    justify-content: center;

    padding-top: 60px;

}

.dashboard-header {

    text-align: center;

}

